* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(96, 238, 99);
}

.title {
    color: rgb(253, 253, 250);
    text-align: center;
}

.header {
    width: 100%;
    background-color: darkgreen;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.nav {
    margin-top: 30px;
}

.nav-link {
    width: 100px;
    height: 40px;
    color: darkgreen;
    background-color: blueviolet;
    display: block;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    border: 3px solid transparent;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.nav-link:hover {
    background-color: antiquewhite;
    border: 3px solid darkgreen;
    color: darkcyan;
}

.item-sec {
    margin-top: 80px;
}

.item {
    background-color: dimgray;
    display: block;
    width: 263px;
}